body {
    background: #2b2020;
    color: #debcbc;
    font-family: sans-serif;
}

.logo-container {
    float: left;
    flex: auto;
}

.logo-container a {
    border: none;
}

.app-header {
    width: 100%;
}

.toolbar {
    float: left;
    width: 70%;
    padding-top: 42px;
}

.toolbar form .section {
    float: left;
    min-width: 12%;
    margin-top: -13px;
}

.toolbar form .date-entry{
    margin-right: 4px;
}

.data-section {
    padding: 14px 28px;
    margin-top: 12px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    clear: left;
    min-height: 80vh;
}

.btn {
    border-radius: 5px;
    padding: 13px 18px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    background: #333;
    border: 1px solid #de9962;
    color: #ddd;
    font-weight: bold;
}

.btn-primary:disabled {
    background: #6e6e6e;
    cursor: not-allowed;
    border: none;
}

.btn-secondary {
    background: #eaeaea;
    border-color: #eaeaea;
    color: #333;
}

.btn-bloody {
    background: #d91f1f;
    color: #debcbc;
    font-weight: bold;
    border: none;
}

.message {
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    display: flex;
}

.warning-message {
    border-color: #eddf43;
}

.message .indicator {
    flex: 1;
}

.message .warning-indicator {
    background-color: #eddf43;
}

.message .message-body {
    flex: 100;
    padding: 20px;
}
