{# vim: set ts=2: #}
{% extends "base.jinja" %}
{% block title %}New Session{% endblock %}
{% block content %}
<div class="data-section">
  {% for game_type in records: %}
    <h3>{{ game_type }}</h3>
    {% if records[game_type]: %}
      <table>
        <tr><th>Player</th><th>Games Played</th><th>Games Won</th></tr>
        {% for player_record in records[game_type]: %}
          <tr>
            <td>{{ player_record[0] }}</td>
            <td>{{ player_record[1] }}</td>
            <td>{{ player_record[2] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
        <h4>Aww c'mon, no records yet. Why not play some?</h4>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
